function Main.main undefined
push local 0
pop local 0
pop temp 0
pop temp 0
push constant 0
return
function Main.more undefined
push local 0
not
if-goto L0
goto L1
label L0
label L1
push constant 0
return
