function Main.main 2
push constant 9
call String.new 1
push constant 67
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 7
call String.new 1
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 8
call String.new 1
push constant 80
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 2
push constant 3
push constant 2
push constant 4
call Menu.new 8
pop local 0
push local 0
call Main.printItems 1
pop temp 0
call Output.println 0
pop temp 0
push constant 28
call String.new 1
push constant 87
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 63
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop local 1
call Output.println 0
pop temp 0
push constant 11
call String.new 1
push constant 73
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 1
call Main.printPrice 1
pop temp 0
push local 0
call Menu.dispose 1
pop temp 0
push constant 0
return
function Main.printPrice 0
push constant 1
call String.new 1
push constant 36
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 3
call String.new 1
push constant 46
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Main.printItems 0
push constant 3
call String.new 1
push constant 49
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
push constant 1
call Menu.getName 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
call String.new 1
push constant 50
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
push constant 2
call Menu.getName 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
call String.new 1
push constant 51
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
push constant 3
call Menu.getName 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
call String.new 1
push constant 52
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
push constant 4
call Menu.getName 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
