function Main.main undefined
push constant 18
call String.new undefined
push constant 72
call String.appendChar undefined
push constant 79
call String.appendChar undefined
push constant 87
call String.appendChar undefined
push constant 32
call String.appendChar undefined
push constant 77
call String.appendChar undefined
push constant 65
call String.appendChar undefined
push constant 78
call String.appendChar undefined
push constant 89
call String.appendChar undefined
push constant 32
call String.appendChar undefined
push constant 78
call String.appendChar undefined
push constant 85
call String.appendChar undefined
push constant 77
call String.appendChar undefined
push constant 66
call String.appendChar undefined
push constant 69
call String.appendChar undefined
push constant 82
call String.appendChar undefined
push constant 83
call String.appendChar undefined
push constant 63
call String.appendChar undefined
push constant 32
call String.appendChar undefined
call Keyboard.readInt undefined
pop local 1
push local 1
call Array.new undefined
pop local 0
push constant 0
pop local 2
label L0
push local 2
push local 1
not
if-goto L1
goto L0
push local 0
push local 2
push constant 23
call String.new undefined
push constant 69
call String.appendChar undefined
push constant 78
call String.appendChar undefined
push constant 84
call String.appendChar undefined
push constant 69
call String.appendChar undefined
push constant 82
call String.appendChar undefined
push constant 32
call String.appendChar undefined
push constant 84
call String.appendChar undefined
push constant 72
call String.appendChar undefined
push constant 69
call String.appendChar undefined
push constant 32
call String.appendChar undefined
push constant 78
call String.appendChar undefined
push constant 69
call String.appendChar undefined
push constant 88
call String.appendChar undefined
push constant 84
call String.appendChar undefined
push constant 32
call String.appendChar undefined
push constant 78
call String.appendChar undefined
push constant 85
call String.appendChar undefined
push constant 77
call String.appendChar undefined
push constant 66
call String.appendChar undefined
push constant 69
call String.appendChar undefined
push constant 82
call String.appendChar undefined
push constant 58
call String.appendChar undefined
push constant 32
call String.appendChar undefined
call Keyboard.readInt undefined
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
pop local 2
label L1
push constant 0
pop local 2
push constant 0
pop local 3
label L2
push local 2
push local 1
not
if-goto L3
goto L2
push local 3
push local 0
push local 2
add
pop local 3
push local 2
push constant 1
pop local 2
label L3
push constant 16
call String.new undefined
push constant 84
call String.appendChar undefined
push constant 72
call String.appendChar undefined
push constant 69
call String.appendChar undefined
push constant 32
call String.appendChar undefined
push constant 65
call String.appendChar undefined
push constant 86
call String.appendChar undefined
push constant 69
call String.appendChar undefined
push constant 82
call String.appendChar undefined
push constant 65
call String.appendChar undefined
push constant 71
call String.appendChar undefined
push constant 69
call String.appendChar undefined
push constant 32
call String.appendChar undefined
push constant 73
call String.appendChar undefined
push constant 83
call String.appendChar undefined
push constant 58
call String.appendChar undefined
push constant 32
call String.appendChar undefined
pop temp 0
push local 3
push local 1
pop temp 0
pop temp 0
push constant 0
return
